<ul>
  <li>ticker: {{tickerSymbol}}</li>
  <li>stock companyName: {{stock.companyName}}</li>
  <li>stock tickerSymbol: {{stock.tickerSymbol}}</li>
  <li>stock description: {{stock.description}}</li>
  <li>stock incomeStatement: {{stock.incomeStatement}}</li>
  <li>stock cashFlow: {{stock.cashFlow}}</li>
  <li>stock annualReportLink: {{stock.annualReportLink}}</li>
</ul>
<h2>Dividends</h2>
<p>quarterly dividend</p>
{{ stock.quarterlyDividend }}
<p>annual dividend yield</p>

{{ stock.annualDividend }}
<p>previous ex-date</p>

{{ stock.previousExDate }}

<p>next pay date</p>

{{ stock.nextPayDate }}

<h2>Earning</h2>
<p>Next Earnings Date</p>

{{ stock.nextEarningsDate }}

<p>Earnings Per Share</p>

{{ stock.earningsPerShare }}

<p>Price/Earnings</p>

{{ stock.priceEarnings }}

<p>Forward P/E</p>

{{ stock.forwardPriceEarnings }}

<h2>Share Profile</h2>

<p>Market Capitalization</p>

{{ stock.marketCapitalization }}
<p>Shares Outstanding</p>

{{ stock.sharesOutstanding }}

<p>Shares Held By Institutions</p>

{{ stock.sharesHeldByInstitutions }}

<h2>Business Summary</h2>

{{ stock.businessSummary }}

